<div class="container">
    {{#each animes as |anime|}}
    <div class="row">
        <div class="card col" style="width: 18rem;">
            <img src="{{anime.image_url}}" class="card-img-top" alt="{{anime.title}}">
            <div class="card-body">
                <h4 class="card-title">{{anime.title}}</h4>
                <p class="card-text">{{anime.rating}}</p>
                <p class="card-text">{{anime.genre}}</p>
                <a href="#" title="{{anime.id}}" class="btn btn-primary btn-add btn-lg" role="button">Add to Watchlist</a>
            </div>
        </div>
    </div>
    {{/each}}
</div>

<script src="/js/search.js"></script>