<form>
    <div>
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
            Default checkbox
        </label>
    </div>

    <table class="table table-striped">
        {{#each animes as |anime|}}
        <tr>
            <th>
                <img src="{{anime.image_url}}" class="img-fluid" alt="{{anime.title}}">
            </th>
            <th>{{anime.title}}</th>
            <th>{{anime.rating}}</th>
            <th>{{anime.genre}}</th>
        </tr>
        {{/each}}
        
    </table>

</form>