<div class="container">
    {{#each watchlists as |watchlist|}}
    <div class="row">
        <div class="card col" style="width: 18rem;">
            <img src="{{watchlist.image_url}}" class="card-img-top" alt="{{watchlist.title}}">
            <div class="card-body">
                <h4 class="card-title">{{watchlist.title}}</h4>
                <p class="card-text">{{watchlist.rating}}</p>
                <p class="card-text">{{watchlist.genre}}</p>
                <a href="#" title="{{watchlist.id}}" class="btn btn-primary btn-delete btn-lg" role="button">Delete</a>
            </div>
        </div>
    </div>
    {{/each}}
</div>

<script src="/js/account.js"></script>